* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url('../assets/bg-mobile.png');
  background-size: cover;
  height: 8.375rem;
}