* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --gray-200: #E2E8F0;
  --gray-400: #94A3B8;
  --gray-600: #475569;
  --gray-800: #1E293B;
  --gray-900: #0F172A;
  --purple: #7C3AED;
  --light-purple: #9F67FF;
  --white: #FFF;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../assets/bg-mobile.png');
  background-size: cover;
  height: 8.375rem;
}

main {
  margin-top: 3.7rem;
  padding: 0 1.5rem;
}

.description {
  margin-bottom: 2.5rem;
}

.description > h1 {
  color: var(--gray-800);
  font-size: 1.5625rem;
  margin-bottom: 1rem;
}

.description > p {
  color: var(--gray-600);
  font-size: 0.8125rem;
}

.login .input:nth-child(odd) {
  margin-bottom: 1rem;
}

.login .input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login .input > div {
  display: flex;
  justify-content: space-between;
}

.login label {
  color: var(--gray-800);
  font-size: 0.875rem;
  font-weight: 600;
}

.login input {
  border: 1px solid var(--gray-200);
  padding: 1rem 0.75rem;
  border-radius: 0.25rem;
}

.login input::placeholder {
  color: var(--gray-400);
}

.login input:hover,
.login input:focus {
  outline: 1px solid var(--purple);
}

.login a {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 600;
}

.login a:hover {
  text-decoration: underline;
}

.login button {
  background: var(--purple);
  margin-top: 2.2rem;
  padding: 1rem 0;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;

  margin-bottom: 2rem;
}

.login button:hover {
  background: var(--light-purple);
  transition: .3s;
  cursor: pointer;
}

.login > p {
  color: var(--gray-600);
}

.login > p > a {
  font-weight: 700;
  font-size: 1rem;
}

.bg-desktop {
  display: none;
}

@media (min-width: 1000px) {
  body {
    display: flex;
  }

  .content {
    width: 100%;
  }

  header {
    background: none;
    justify-content: flex-start;
    margin: 2.5rem 7rem;
    height: fit-content;
  }

  header img {
    width: 10rem;
  }

  main {
    margin: 0 7rem;
    max-width: 24rem;
    padding: 0;
  }

  .bg-desktop {
    display: block;
    width: 100%;
  }

  .description h1 {
    font-size: 2.5rem;
  }

  .description p {
    font-size: 1rem;
  }


}