* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --gray-200: #E2E8F0;
  --gray-400: #94A3B8;
  --gray-600: #475569;
  --gray-800: #1E293B;
  --gray-900: #0F172A;
  --purple: #7C3AED;
  --white: #FFF;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../assets/bg-mobile.png');
  background-size: cover;
  height: 8.375rem;
}

main {
  margin-top: 3.7rem;
  padding: 0 1.5rem;
}

.description {
  margin-bottom: 2.5rem;
}

.description > h1 {
  color: var(--gray-800);
  font-size: 1.5625rem;
  margin-bottom: 1rem;
}

.description > p {
  color: var(--gray-600);
  font-size: 0.8125rem;
}

.login .input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login .input > div {
  display: flex;
  justify-content: space-between;
}

.login label {
  color: var(--gray-800);
  font-size: 0.875rem;
  font-weight: 600;
}

.login input {
  border: 1px solid var(--gray-200);
  padding: 1rem 0.75rem;
  border-radius: 0.25rem;
}

.login input::placeholder {
  color: var(--gray-400);
}

.login input:hover,
.login input:focus {
  outline: 1px solid var(--purple);
}

.login a {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 600;
}

.login a:hover {
  text-decoration: underline;
}

.login button {
  background: var(--purple);
  margin-top: 2.2rem;
  padding: 1rem 0;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
}